dimod==0.12.14
docplex==2.25.236
dwave_cloud_client==0.11.3
dwave_drivers==0.4.4
dwave_inspector==0.4.4
dwave_inspectorapp==0.3.1
dwave_preprocessing==0.6.5
dwave_samplers==1.2.0
dwave_system==1.23.0
numpy==1.23.5
ortools==9.8.3296
plotly==5.19.0
python-dotenv==1.0.1
qiskit==1.0.2
qiskit_algorithms==0.3.0
qiskit_ibm_runtime==0.23.0
qiskit_ibmq_provider==0.20.2
qiskit_optimization==0.6.1
